# SERVER
PORT = 
NODE_ENV = 
CLIENT_URL = 

# MONGODB
MONGO_URI = 

# JWT
JWT_SECRET = 
JWT_EXPIRES_IN = 

# GOOGLE OAUTH 2.0
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
GOOGLE_CALLBACK_URL = 

# CLOUDINARY
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 

# RAZORPAY (TEST KEYS)
RAZORPAY_KEY_ID = 
RAZORPAY_KEY_SECRET = 

# NODEMAILER (OTP EMAIL)
MAIL_HOST = 
MAIL_PORT = 
MAIL_USER = 
MAIL_PASS = 
MAIL_FROM = 

# OTP
OTP_EXPIRES_MIN = 
